canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px rgb(33, 3, 165);
    }

    to {
        box-shadow: 1px 1px 38px rgb(100, 4, 156);
    }
}